html{
    box-sizing: border-box;
}
.container, .navigation {
    margin: 0 auto;
    max-width: 600px;
    max-height: max-content;
}
body{
    font-family: 'Open Sans', sans-serif;
}


#logo{
    position: absolute;
    margin-top: 10px;
    margin-left: 32px;
}

nav{
    list-style-type: none;
    background-color: #222222;
}


nav ul{
    background-color: #222222;
    text-align: center;
}

nav ul li:first-child{ 
    background-color: #c78c06;
    padding-top: 150px;    
}
.Home{
    color: #222222;
    font-weight: 600;

}   

nav ul li a{
    text-decoration: none;
    color: #c78c06;
    padding: 20px; 
    display: grid;
}
.search-bar{
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #222222;
}


input[type='search'] {
    width: 90%;
    border: 2px solid #222222;
    height: 40px;
    outline: none;
    padding: 10px;
    margin-right: 0 auto; 

}

.searchbutton{
    width: 40px;    
    height: 40px;   
    border: 1px solid #c78c06;
    background-color: #222222;
    color: #c78c06;
    cursor: pointer;
    font-size: 20px;    
}

.color{
    width: 100%;
    height: 70%;
    background-color: #222222;  
    opacity: 0.5;
    position: absolute;
    margin: auto;
    z-index: -1;
   


}

.header-welcome{
    background-image: url(../images/main-banner.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -2;
}

h1{
    color: white;
    font-size: 50px;
    line-height: 1.5;
    font-weight: 700;
    z-index: 1;
}

.header-welcome p{
    color: white;
}

.header-welcome button{
   margin: 20px 0;
    font-weight: 700;
    font-size: 20px;
    padding: 35px 50px;
    background-color: #c78c06;
    border: none;
}



.section-about{
    background-color: #ffe6ac;
    overflow: hidden;
    padding-top: 10px;
    max-width: 100%;
    margin-bottom: 25px;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700;
}

p{
    line-height: 1.5;
    padding: 15px;
}
